<div class="jumbotron text-center">
  <h1>Vach inch ka?</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque exercitationem expedita impedit
    necessitatibus reiciendis reprehenderit sapiente totam, vero voluptate!</p>
  <div>
    <a class="btn btn-primary"
       [routerLink]="['/register']">
      Register
    </a>

    <a class="ml-2 btn btn-success"
       [routerLink]="['/login']">
      Login
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut hic ipsam quidem.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus hic odit quidem.</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis explicabo officiis qui?</p>
  </div>
</div>
