<div class="title">
  <h1>Event At</h1>
</div>
<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <span class="intro-banner-vdo-play-btn pinkBg">
          <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
          <span class="ripple pinkBg"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="stage">
  <span>Coming Soon</span>
</div>
